<footer>
    <div class="acomodarFooter">
        <div class="seccion1Footer">
            <div class="logoynombreFooter">
                <img src="./public/image/pokeball.png">
                <h2>Pokedex</h2>
            </div>
            <div class="alumnos">
                <ul>
                    <li><span>></span> Mayra Fazzari</li>
                    <li><span>></span> Agustin Pucci Rubio</li>
                    <li><span>></span> Solange De Bonis</li>
                    <li><span>></span> Ornella Alonso Reyes</li>
                </ul>

            </div>

        </div>
        <div class="drev">
            <p>Derechos Reservados ©2024 Pokedex. Todos los derechos reservados.</p>
        </div>

    </div>
</footer>
