<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="./public/css/index.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img src="./public/image/pokeball.png" alt="Pokeball">
        </div>
        <div class="nombrePag">
            <h1>Pokedex</h1>
        </div>
        <div class="user-info">
            <div class="usuarioLog">
                <table>
                {{#login}}
                    <tr>
                        <td class="usuarioBienvenido">Usuario: {{usuario}}</td>
                    </tr>
                {{/login}}
                </table>
                <a href="">Cerrar sesión</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>