<div class="user-info">
    <div class="usuarioLog">
        <table>
            {{#usuario}}
                <tr>
                    <td class="usuarioBienvenido">Usuario: {{usuario}}</td>
                </tr>
            {{/usuario}}
        </table>
        <a href="/User/logOut">Cerrar sesión</a>
    </div>
</div>
</nav>
</header>
</body>
</html>