<head>
    <style>
        .pokemon-card {
            border-radius: 5px;
            border: 2px solid red;
            margin: 10px;
            padding: 20px;
            text-align: center;
            background-color: #fff;
            width: 18rem; /* Adjust width as needed */
        }

        .pokemonFoto img{
            height: 150px;
            display: block;
            margin: 0 auto;
        }
        .infoPokemon {
            text-align: center;
        }


        .tipoPokemon{
            height: 30px;
        }

        .botonVolver{
            margin: 1rem;
            height: 40px;
            width: auto;
            font-size: 18px;
            border-radius: 5px;
            border: 2px solid red;
            background-color: red;
            color: white;
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .botonVolver:hover{
            border: 2px solid red;
            background-color: white;
            color: red;
        }

    </style>
</head>
<body>
<div class="container mt-5">
    <div style="display: flex; flex-wrap: wrap;">
        {{#pokemon}}
            <div class="pokemon-card">
                <p class="campo_del_pokemon"><strong>ID:</strong> {{id_pokemon}}</p>
                <p class="campo_del_pokemon"><strong>Nombre:</strong> {{nombre}}</p>
                <p class="campo_del_pokemon"><strong>Tipo 1:</strong> {{tipo1}}</p>
                <p class="campo_del_pokemon"><strong>Tipo 2:</strong> {{tipo2}}</p>
                <div class="infoPokemon">
                    <img src="./public/image/tipo_{{tipo1}}.png" alt="{{tipo1}}">
                </div>
                <div class="tipoPokemon">
                    <img src="./public/image/tipo_{{tipo2}}.png" alt="{{tipo2}}">
                </div>
                <div class="pokemonFoto">
                    <img src="./public/image/{{imagen}}" alt="{{nombre}}">
                </div>
                <div>
                    <a href="#">Modificar</a>
                    <a href="#">Eliminar</a>
                </div>
            </div>
        {{/pokemon}}
    </div>
</div>
<a class="botonVolver" href="/Pokedex2/index.php">Volver</a>
</body>