<div class="formularioIngreso">
    <form action="/trylogin" method="post">
        <input type="text" id="usuario" name="usuario" placeholder="Usuario">
        <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña">
        <input type="submit" id="ingreso" name="ingreso" value="Ingresar">
    </form>
</div>
{{#errors}}
    <h1 class="error-message">
        {{error}}
    </h1>";
{{/errors}}
