<div class="usuarioLog">
    <table>
        {{#login}}
        <tr>
            <td class="usuarioBienvenido">Usuario: {{usuario}}</td>
        </tr>
        {{/login}}
    </table>

    <a href="">Cerrar sesión</a>
</div>